* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'supermario';
    src: url(../font/SuperMario256.ttf) format(truetype);
    font-style: normal;
}

.game {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    border-bottom: 15px solid rgb(35, 160, 35);
    background: linear-gradient(#87CEEB, #E0F6FF);
    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.4s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump .5s ease-out;
}

.clouds {
    position: absolute;
    width: 350px;
    animation: clouds-animation 15s infinite linear;
}

.game-over{
    position: absolute;
    width: 40%;
    height: 30%;
    border: 5px solid #fff;
    border-radius: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background: linear-gradient(rgb(190, 190, 2), rgb(109, 106, 106));
}

.game-over p {
    font-family: 'supermario', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.game-over-on {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.game-start {
    position: absolute;
    width: 40%;
    height: 60%;
    border: 5px solid #fff;
    border-radius: 3rem;
    background: linear-gradient(rgb(190, 190, 2), rgb(109, 106, 106));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
}

.game-start-on {
    display: flex;
    z-index: 3;
}

.game-start h1 {
    font-family: 'supermario', sans-serif;
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.game-start p {
    font-family: 'supermario', sans-serif;
    color: #000;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    35% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    65% {
        bottom: 180px;
    }
    

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -350px;
    }

    to {
        right: 100%;
    }
}
